@use "../vars.scss";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: vars.$font-primary;
}
.app-container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
