// font-family: "Ruda", sans-serif
// font-family: "Montserrat", sans-serif;
@font-face {
	font-family: "Inter", sans-serif;
	src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Inter", sans-serif;
	src: url("../fonts/Inter/Inter-Medium.woff2") format(woff2);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Inter", sans-serif;
	src: url("../fonts/Inter/Inter-SemiBold.woff2") format(woff2);
	font-weight: 600;
	font-style: normal;
}
