// src/scss/_vars.scss

// Шрифты
$font-primary: "Inter", sans-serif;

// Цвета
$color-primary: #ff1818; // пример основного цвета
$color-light-green: rgba(43, 224, 128, 1);
$color-black: #29292d; // основной цвет текста
$color-background: #f4f4f4; // цвет фона
$color-blue: rgba(52, 86, 243, 1);
$color-gray: #a0a0a0;
$color-light-gray: rgba(245, 245, 245, 1);
